F6. 埼玉県内の全鉄道駅において、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)を、小さい順に並べ、最初の10件を示せ。（出力は県名、駅名、人口増減率とすること）

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)


def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

/usr/local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [10]:
sql = """
SELECT poly.name_1, pt.name, sum(pop20.population) / sum(pop19.population) - 1 as uprate
FROM planet_osm_point pt, pop202004 pop20, pop201904 pop19, adm2 poly
WHERE
poly.name_1 = 'Saitama' AND
pt.railway = 'station' AND
ST_WITHIN(pt.way, st_transform(pop20.geom, 3857)) AND
ST_WITHIN(pop20.geom, poly.geom)
GROUP BY poly.name_1, pt.name ORDER BY uprate
LIMIT 10;
"""

In [11]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

    name_1 name    uprate
0  Saitama   吾野 -0.991995
1  Saitama  西吾野 -0.987725
2  Saitama  三峰口 -0.967979
3  Saitama   白久 -0.953569
4  Saitama   正丸 -0.952502
5  Saitama  大麻生 -0.902868
6  Saitama   樋口 -0.869780
7  Saitama  東吾野 -0.868712
8  Saitama  上長瀞 -0.757171
9  Saitama   折原 -0.752901