F7. 1都6県のそれぞれにおいて、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示せ（出力は県名、駅名、人口増減率とすること）。

In [2]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)


def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

In [3]:
sql = """
WITH
up AS (
SELECT poly.name_1, pt.name, 
SUM(pop20.population) / SUM(pop19.population) - 1 AS uprate
FROM planet_osm_point pt
JOIN pop202004 pop20 ON ST_WITHIN(pt.way, ST_Transform(pop20.geom, 3857))
JOIN pop201904 pop19 ON ST_WITHIN(pop20.geom, pop19.geom)
JOIN adm2 poly ON ST_WITHIN(pop20.geom, poly.geom)
WHERE poly.name_1 IN ('Saitama', 'Tokyo', 'Chiba', 'Kanagawa', 'Ibaraki', 'Tochigi', 'Gunma')
AND pt.railway = 'station'
GROUP BY poly.name_1, pt.name
),
min_up AS (
SELECT up.name_1, MIN(up.uprate) AS min_uprate
FROM up
GROUP BY up.name_1
)
SELECT up.name_1, up.name, up.uprate AS min_uprate
FROM up
INNER JOIN min_up 
ON up.name_1 = min_up.name_1 
AND up.uprate = min_up.min_uprate
ORDER BY up.name_1;
"""

In [4]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

     name_1               name  min_uprate
0     Chiba                 西畑   -0.888514
1     Gunma                湯檜曽   -0.847619
2   Ibaraki               筑波山頂   -0.892368
3  Kanagawa           エントランス広場   -0.811359
4   Saitama                三峰口   -0.908116
5   Tochigi        あしかがフラワーパーク   -0.918191
6     Tokyo       ベイサイド・ステーション   -0.979428
7     Tokyo  ポートディスカバリー・ステーション   -0.979428